## Project 1: Exploring weather trends

### First steps

First, I ran a SQL search on the database city_list for San Francisco.
SELECT city FROM city_list
WHERE city like 'San F%';

The result from this search confirmed that San Francisco data was in the database city_data.

Then, I ran the following SQL search on city_data and global_data:

SELECT c.year, c.avg_temp AS avg_sf_temp, g.avg_temp AS avg_global_temp
FROM city_data c JOIN global_data g
ON c.year = g.year
WHERE c.city = 'San Francisco';

The results from this search were downloaded into results.csv.

I then used pandas to explore the file.

In [1]:
#import pandas and matplotlib
import pandas as pd
import matplotlib.pyplot as plt

#setting options in jupyter notebook
import warnings 
warnings.simplefilter(action='ignore', category=FutureWarning)

%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('max_colwidth', None)

In [2]:
#import the dataset into the dataframe called data

data = pd.read_csv("/users/elainechow/downloads/results.csv")

In [3]:
#inspect the first five rows of data
data.head()

   year  avg_sf_temp  avg_global_temp
0  1849        14.12             7.98
1  1850        13.80             7.90
2  1851        14.39             8.18
3  1852        13.81             8.10
4  1853        14.40             8.04

In [4]:
#inspect the last five rows of data
data.tail()

     year  avg_sf_temp  avg_global_temp
160  2009        15.02             9.51
161  2010        14.67             9.70
162  2011        14.50             9.52
163  2012        15.05             9.51
164  2013        16.23             9.61

In [6]:
#determine what datatypes are in data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             165 non-null    int64
 1   avg_sf_temp      165 non-null    float64
 2   avg_global_temp  165 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 4.0 KB

In [7]:
#compute summary statistics for each column in data
data.describe()

              year  avg_sf_temp  avg_global_temp
count   165.000000   165.000000       165.000000
mean   1931.000000    14.450788         8.554545
std      47.775517     0.504885         0.460165
min    1849.000000    13.220000         7.560000
25%    1890.000000    14.120000         8.190000
50%    1931.000000    14.390000         8.530000
75%    1972.000000    14.760000         8.770000
max    2013.000000    16.230000         9.730000

In [ ]:
data['sf_rolling_mean_temp'] = data['avg_sf_temp'].rolling(window=5).mean()

In [ ]:
data['global_rolling_mean_temp'] = data['avg_global_temp'].rolling(window=5).mean()

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.to_csv('/users/elainechow/desktop/data.csv')